html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main { 
  display: block; padding: 3rem 0; 
}

.logo {
  border-radius: 50%;
}

.left-side, .right-side {
  padding: 2rem;
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .left-side {
    width: 49%;
    display: inline-block;
  }

  .right-side {
    width: 49%;
    float: right;
  }
}

header {
  background: #333;
  color: white;
  padding: 2rem 3rem;
}
footer {
  background: #ccc;
  padding: 4rem 3rem;
  clear: both;
}
